@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 245, 241);
}
.swiper-button-prev, .swiper-button-next {
  background: #ffffff6e;
  display: flex;
  width: 30px;
  height: 45px;
  color: #1f1f1f;
}
@media screen and (max-width: 1280px) and (min-width: 610px) {
  .home-swipe .list-item {
    width: calc(50% - 16px) !important;
  }
}